@model AALEKH_SOCIETY_COOP.FixedCharges
@{
     Layout = "_mainLayout";
    ViewData["Title"] = "Fixed-Charges";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item active"><a asp-action="index" asp-controller="Dashboard">Dashboard</a>  </li>
    <li class="breadcrumb-item active"><a asp-action="index" asp-controller="FixedCharges">Fixed-Charges</a></li>
    <li class="breadcrumb-item active">Details</li>
</ol>


<div class="card">
    <div class="card-header">
        Detials about @Model.Type
    </div>
    <div class="card-body">
        <div>

            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Type)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.FixedCharge)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FixedCharge)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Updatedon)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Updatedon)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                
            </dl>
        </div>
        <hr />
       <div class="float-right">
            <a asp-action="Edit" class="btn btn-sm btn-outline-primary" asp-route-id="@Model.id">Edit</a>
            <a asp-action="Index" class="btn btn-sm btn-outline-primary">Back to List</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
