@model AALEKH_SOCIETY_COOP.Controllers.Residents
@{
     ViewData["Title"] = "Maintainence Slip";
}

    <div class="card-body col-md-6 " style="background:white;">
                <center>
                    <table border="1" style="width:63rem;">
                        <tr style="text-align:center">
                            <th rowspan=2 colspan=2 >
                                <img src="~/img/logo.png" style="height:5rem; width:10rem;">
                            </th>

                            <td style="text-align:center; padding:7px" rowspan=2>
                                <h4>
                                    AALEKH CO.OPERATIVE HOUSING SERVICE SOCIETY LTD. 
                                </h4>
                                
                                <h6>
                                   Near Chamunda Temple, Zadeshwar Road, Bharuch  -  392011.
                                </h6>
                            </td>
                            <td style="text-align:right ; padding:7px 15px 7px 0px;" rowspan=2>
                                <h6>Reg. No. : SA / 7183</h6>
                                <h6>Date : 4-03-2014</h6>
                            </td>
                        </tr>
                    </table>
                    <table border="1" style="width:63rem;text-align:left;border-collapse: separate;border-spacing: 0px 15px;">
                        <tr>
                            <th>

                            </th>
                             <th style="text-align:center;">
                                 <mark style="background-color:black; color:white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RECEIPT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mark>
                            </th>
                             <th style="text-align:right;padding-right:15px;">
                                 Receipt No. : __________________________
                            </th>
                        </tr>
                        <tr>
                            <th style="padding-left:7px;">
                                House no. : __________________________
                            </th>
                            <th>
                                Period : @Model.fromMonth - @Model.toMonth
                            </th>
                            <th style="text-align:right;padding-right:15px;">
                                Date : <span style="min-width:11rem;display:inline-block;text-align:center;"><b>@DateTime.Now.ToString("dd/MM/yyyy")</b></span>
                            </th>
                        </tr>
                        </table>
                        <table border="1" style="width:63rem;text-align:left;">
                            <tr>
                                <td style="word-wrap:break-word;padding:10px;">
                                   Mr. / Mrs. : <span style="min-width:48rem;display: inline-block;">___________________________________________________________________________________________________________________</span> has paid a sum of Rs. <span style="min-width:36rem;display: inline-block;">______________________________________________________________________________________</span> via Cheque / Online number <span style="min-width:10rem; display: inline-block;"><p style="text-align:center;font-weight:bold;">@Model.chequeOnlineNum</p></span> on Date : <span style="min-width:9rem; display: inline-block;"><p style="text-align:center;font-weight:bold;">@Model.recievedDate</p></span> via Bank : <span style="min-width:9rem; display: inline-block;"><p style="text-align:center;font-weight:bold;">@Model.Bank</p></span> Branch : <span style="min-width:12rem; display: inline-block;"><p style="text-align:center;font-weight:bold;">@Model.Branch</p></span> / Cash has been recieved.
                                </td>
                            </tr>
                        </table>
                        <table border="1" style="width:63rem;text-align:center;">
                            <tr >
                                <th style="border:1px solid black;width:5rem;">
                                    Sr. no.
                                </th>
                                <th style="border:1px solid black;text-align:left;padding-left:1rem;width:50rem">
                                    Particulars
                                </th>
                                <th style="border:1px solid black;">
                                    Amount (Rs.)
                                </th>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;">
                                    1
                                </td>
                                <td style="border:1px solid black;text-align:left;padding-left:1rem;">
                                    Maintainence Charges.
                                </td>
                                <td style="border:1px solid black;">
                                    
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;">
                                    2
                                </td>
                                <td style="border:1px solid black;text-align:left;padding-left:1rem;">
                                    Cleaning Charges.
                                </td>
                                <td style="border:1px solid black;">

                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;">
                                    3
                                </td>
                                <td style="border:1px solid black;text-align:left;padding-left:1rem;">
                                    Other Charges.
                                </td>
                                <td style="border:1px solid black;">

                                </td>
                            </tr>
                             <tr>
                                <td style="border:1px solid black;">
                                    
                                </td>
                                <td style="border:1px solid black;text-align:left;padding-left:1rem;">
                                    <b>Remarks : </b>
                                </td>
                                <td style="border:1px solid black;">

                                </td>
                            </tr>

                        </table>
                        <table border="1" style="width:63rem;text-align:center;">
                            <tr>
                                <td rowspan=2>
                                    Sign : <span style="min-width:5rem;display:inline-block;">________________________</span>
                                </td>
                                <td rowspan=2>
                                    Recieved by : <span style="min-width:5rem;display:inline-block;">________________________________</span>
                                </td>
                                <td style="text-align:right;padding-right:1rem;">
                                    For, AALEKH CO.OP HOUSING SOCIETY LTD.
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;padding-right:2rem;">
                                    PRESIDENT / SECRETARY / TREASURER
                                </td>
                            </tr>
                        </table>
                </center>
    </div>

<script type="text/javascript">
    window.onafterprint = window.close;
    window.print();
</script>